.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
webview-src/**
node_modules/**
.pnpm-store
pnpm-lock.yaml
.npmrc
.github/**
.nvmrc
.pnpmfile.cjs
.vscerc.json
**/node_modules
**/.pnpm
out/test/**
out/**/*.map
media/images/**
