/**
 * @theme-name: 自定义主题
 * @theme-author: 用户
 * @theme-description: 您可以自由修改这个主题文件
 * @theme-version: 1.0.0
 */

/* 您可以自定义CSS样式 */
/* 重要提示： 当前主题解析功能不支持复合选择器，请为每个元素分别定义样式 */

:root {
  --primary-color: #017fc0; /* 主题色 */
  /* --custom-var，你也可以添加更多自定义变量 */
}

body {
  font-family: -apple-system, BlinkMacSystemFont, SF UI Text, Helvetica Neue, PingFang SC,
    Hiragino Sans GB, Noto Sans CJK SC, Microsoft YaHei, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.618;
  letter-spacing: 0.0618em;
  color: #212121;
  background-color: #fff;
  padding: 0 0.618em;
}

h1 {
  display: table;
  padding: 0 1em;
  border-bottom: 2px solid var(--primary-color);
  margin: 2em auto 1em;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
}

h2 {
  display: table;
  padding: 0.2em 1em;
  margin: 2em auto 1em;
  color: #fff;
  background: var(--primary-color);
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

h3 {
  padding-left: 0.5em;
  border-left: 3px solid var(--primary-color);
  margin: 2em auto 1em;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1.2;
}

h4 {
  margin: 2em auto 0.5em;
  color: var(--primary-color);
  font-size: 1em;
  font-weight: bold;
}

h5 {
  margin: 1.5em auto 0.5em;
  color: var(--primary-color);
  font-size: 1em;
  font-weight: bold;
}

h6 {
  margin: 1.5em auto 0.5em;
  color: var(--primary-color);
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 1em 0;
}

figure {
  margin: 1.5em 0;
}

img {
  width: 100%;
}

figcaption {
  padding: 0.5em;
  color: #777;
  text-align: right;
}

blockquote {
  font-style: normal;
  padding: 0.1px 1em;
  border-left: 4px solid var(--primary-color);
  border-radius: 6px;
  color: #111827;
  margin: 1.6em 0;
}

ol {
  padding-left: 1em;
  margin-left: 0;
}

ul {
  padding-left: 1em;
  margin-left: 0;
  list-style: square;
}

li {
  word-break: break-all;
}

.footnotes {
  margin: 0.5em 8px;
  font-size: 80%;
}

hr {
  border-style: solid;
  border-width: 2px 0 0;
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-transform-origin: 0 0;
  -webkit-transform: scale(1, 0.5);
  transform-origin: 0 0;
  transform: scale(1, 0.5);
  height: 0.4em;
  margin: 1.5em 0;
}

strong {
  font-weight: bold;
  color: var(--primary-color);
}

em {
  font-style: normal;
  font-weight: bold;
}

a {
  color: var(--primary-color);
  text-decoration: underline;
  text-underline-offset: 0.125em;
}

pre {
  background-color: var(--code-background);
  padding: 1em;
  border-radius: 5px;
  overflow-x: auto;
  margin: 1.5em 0;
}

code {
  padding: 0.2em 0.375em;
  border-radius: 0.25em;
  background: rgb(243, 244.5, 246.75);
  color: var(--primary-color);
  font-size: 0.875em;
  font-weight: 400;
  font-family: Menlo, Operator Mono, Consolas, Monaco, monospace;
}
